<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Insert title here</title>
</head>
<body>
	<section layout:fragment="content">


		<div th:fragment="logout" class="logout"
			sec:authorize="isAuthenticated()">
			Logged in user: <span th:text="${#authentication.getPrincipal().getName()}"></span>
			<div>
				<form action="#" th:action="@{/logout}" method="post">
					<input type="submit" value="Logout" />
				</form>
			</div>
		</div>


		<div class="content-header clearfix">
			<h1 class="pull-left">User Management</h1>
			<div class="pull-right">&nbsp;</div>
		</div>
		<form action="#" method="post" th:action="@{/user/search}" th:object="${user}">
        <div class="content">
            <div class="form-horizontal">
                <div class="panel-group">
                    <div class="panel panel-default panel-search">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                        	Name
                                        </div>
                                        <div class="col-md-8">
                                        	<input type="text" th:field="*{name}" />
                                        </div>       
									</div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                        	Mail address
                                        </div>
                                        <div class="col-md-8">
                                        	<input type="text" th:field="*{email}" />
                                        </div>       
									</div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                        	Role
                                        </div>
                                        <div class="col-md-8">
                                        	<select th:field="*{role}">
							<option value="">--Select Role--</option>
							<option th:each="role : ${roles}" th:value="${role.id}"
								th:text="${role.name}">Wireframe</option></select>
                                        </div>       
									</div>
                                    <div class="form-group">
                                        <div class="col-md-8 col-md-offset-4">
                                        	<button type="submit">Search</button>
                                        </div>
									</div>                                        																												
								</div>	                                                                                                     
                            </div>
                         </div>
					</div>                         
				</div>                         
			</div>                         
		</div>          
		</form>                  

		<span th:text="${success}"></span>
		<div sec:authorize="hasAuthority('USER_WRITE')">
			<a th:href="@{/user/create}"> Add New</a>
		</div>
		<table>
			<thead>
				<tr>
					<th>id</th>
					<th>name</th>
					<th>email</th>
					<th>role</th>
					<div sec:authorize="hasAuthority('USER_WRITE')">
					<th>edit</th>
					<th>delete</th>
					</div>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${users}">
					<td th:text="${user.id}"></td>
					<td th:text="${user.name}"></td>
					<td th:text="${user.email}"></td>
					<td th:text="${user.role.name}"></td>
					<div sec:authorize="hasAuthority('USER_WRITE')">
					<td><a th:href="@{/user/{id}/edit(id=${user.id})}">edit</a></td>
					<td><a th:href="@{/user/{id}/delete(id=${user.id})}">delete</a></td>
					</div>
				</tr>
			</tbody>
		</table>
	</section>
</body>
</html>
